body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    overflow-y: hidden;
}

#retryButton {
    display: none; 
            
    position: absolute;
    margin-left: 48%;    
    margin-top: -17%;          
    font-size: 16px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 99;
}

h1{
    margin: 0%;
    margin-bottom: 5px;
}